*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    display: flex;
    margin-left: -100px;
    margin-top: 16px;
    gap: 23px;
    font-size: 0.8rem;
}

.button col{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    border-radius: 20px;
}
